@using ICanWoofWoof.Models
@model CheckHelpersModel

@section Scripts
{
    @Scripts.Render("~/Scripts/Custom/Validators/AtLeastOne.js","~/Scripts/Custom/CheckHelpers.js")
}


<h2>Lets Check Some Helpers?</h2>

<div class="row-fluid">
    <div class="span12">
        <div class="knockout-container-collapser collapse-header-transitions">
            Collapser
        </div>
        <div class="container-fluid knockout-container collapse-transitions">

            <div style="border: 1px gray solid; padding:20px;">
                <h3>Usual way</h3>
                @using (Html.BeginForm("CheckHelpers", "Home"))
                {
                    @MyHelpers.DecoratedTextGreeting("username")
                    <div class="info-block">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name)
                        @Html.ValidationMessageFor(m=>m.Name)
                    </div>
                    <div class="info-block">
                        @Html.LabelFor(m => m.Adress)
                        @Html.TextBoxFor(m => m.Adress)
                    </div>
                    <div class="info-block">
                        @Html.LabelFor(m => m.Product)
                        @Html.TextBoxFor(m => m.Product)
                    </div>
                    
                    <div class="info-block">
                        @Html.LabelFor(m => m.Phone)
                        @Html.TextBoxFor(m => m.Phone)
                    </div>
                    
                    <div class="info-block">
                        @Html.LabelFor(m => m.EMail)
                        @Html.TextBoxFor(m => m.EMail)
                    </div>
                    
                    
                    <div>
                        <input type="submit" class="btn" value="Submit" />
                    </div>
                }
            </div>

            <div style="border: 1px gray solid; margin-top: 20px; padding:20px;">
                <h3>Ajax</h3>
                @using (Ajax.BeginForm("CheckHelpers", "Home", new AjaxOptions() { OnSuccess = "OnSubmitSuccess" }))
                {
                    <div class="info-block">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name)
                    </div>
                    <div class="info-block">
                        @Html.LabelFor(m => m.Adress)
                        @Html.TextBoxFor(m => m.Adress)
                    </div>
                    <div class="info-block">
                        @Html.LabelFor(m => m.Product)
                        @Html.TextBoxFor(m => m.Product)
                    </div>
                    <div>
                        <input type="submit" class="btn" value="Submit" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
