<!DOCTYPE HTML>
<html class="no-js">
<head>
    <title>Nothing
    </title>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.theme.css">
    <link rel="stylesheet" href="~/Content/bootstrap-responsive.css">
    <link rel="stylesheet" href="~/Content/Custom/Main.css">
    <link rel="stylesheet" href="~/Content/Custom/ModernizerStuff.css">
    <link rel="stylesheet" href="~/Content/Custom/KnockoutStuff.css">
    <link rel="stylesheet" href="~/Content/Custom/Collapser.css">

    @Scripts.Render("~/Scripts/jquery-1.9.1.js","~/Scripts/modernizr-2.6.2.js", "~/Scripts/knockout-2.2.1.debug.js",  "~/Scripts/jquery-ui-1.10.1.js", "~/Scripts/jquery.unobtrusive-ajax.js", "~/Scripts/jquery.validate.js", "~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/Custom/Collapser.js")
    @RenderSection("Scripts", false)
    
    
</head>
<body>
    <div class="row-fluid">
        <div class="span10 offset1">
            <div class="container-fluid">
                <div class="row-fluid header-container">
                    <div class="page-header">
                        <h1>
                            @RenderSection("Header", false)
                        </h1>
                        <ul class="nav nav-pills tab-menu">
                            <li>@Html.ActionLink("home", "Index", "Home")</li>
                            <li>@Html.ActionLink("try knockout", "CheckKnockout", "Home")</li>
                            <li>@Html.ActionLink("try knockout2", "KnockoutSinglePage", "Home")</li>
                            <li>@Html.ActionLink("try modernizer", "CheckModernizer", "Home")</li> 
                            <li>@Html.ActionLink("helpers", "CheckHelpers", "Home")</li> 
                        </ul>
                    </div>
                </div>
                <div class="row-fluid main-container">
                    <div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
